.section{
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section div{
  position: relative;
}

.section svg, .section path{
  color: var(--bg5);
}

.section svg:nth-child(1), .section path:nth-child(1){
  font-size: 50px;
}

.section svg:nth-child(2), .section path:nth-child(2){
  padding: 2px;
  font-size: 28px;
  background-color: var(--bg1);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
  z-index: 1;
}