.note{
  padding: 8px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note:hover{
  background-color: rgb(193, 233, 233);
}

.note h1{
  font-size: 16px;
  color: black;
}

.note h1:nth-child(1){
  width: 20%;
  font-size: 14px;
  text-align: center;
}

.note h1:nth-child(2){
  padding: 0 5px;
  width: 45%;
  text-align: left;
}

.note h1:nth-child(3){
  width: 15%;
  font-size: 12.5px;
  text-align: right;
}

.note h1:nth-child(4){
  padding: 0 2px;
  width: 8%;
  font-size: 12.5px;
  text-align: center;
}

.note h1:nth-child(5){
  width: 15%;
  font-size: 12.5px;
  text-align: right;
}