.main{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section svg, .section path{
  font-size: 80px;
}

.section h1{
  margin-top: 5px;
  font-size: 24px;
  color: var(--clrBL2);
}

.section h2{
  margin-top: 5px;
  font-size: 14px;
}

.iconEdit{
  padding: 20px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconEdit div{
  cursor: pointer;
}

.iconEdit div:hover path{
  color: var(--clrBL3);
}

.iconEdit div:active path{
  color: var(--clrBL4);
}

.iconEdit svg, .iconEdit path{
  font-size: 25px;
  color: var(--clrBL2);
  cursor: pointer;
}