:root{
  --bg0:rgb(14, 14, 14);
  --bg1:rgb(24, 24, 24);
  --bg2: rgb(32, 32, 32);
  --bg3: rgb(40, 40, 40);
  --bg4: rgb(48, 48, 48);
  --bg5: rgb(56, 56, 56);
  --bg6: rgb(64, 64, 64);
  --bg7: rgb(72, 72, 72);
  --bg8: rgb(80, 80, 80);
  --bg9: rgb(95, 95, 95);
  --bg10: rgb(110, 110, 110);
  
  --clrBL0: rgb(0, 119, 133);
  --clrBL1: #008494;
  --clrBL2: rgb(0, 150, 170);
  --clrBL3: #00a9bf;
  --clrBL4: #00bcd4;

  --clrGR0: rgb(165, 165, 165);
  --clrGR1: rgb(184, 184, 184);
  --clrGR2: rgb(202, 202, 202);
  --clrGR3: #00a9bf;
  --clrGR4: #00bcd4;

}