:root{
  --bg0:rgb(14, 14, 14);
  --bg1:rgb(24, 24, 24);
  --bg2: rgb(32, 32, 32);
  --bg3: rgb(40, 40, 40);
  --bg4: rgb(55, 55, 55);
  --bg5: rgb(70, 70, 70);
  --bg6: #00bcd4;
  
  --clrBL0: rgb(0, 119, 133);
  --clrBL1: #008494;
  --clrBL2: rgb(0, 150, 170);
  --clrBL3: #00a9bf;
  --clrBL4: #00bcd4;

  --clrGR0: rgb(165, 165, 165);
  --clrGR1: #008494;
  --clrGR2: #0096aa;
  --clrGR3: #00a9bf;
  --clrGR4: #00bcd4;

}