.ui.form{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.ui.form input, .ui.form textarea{
  padding-left: 5px !important;
  width: 300px !important;
  font-size: small !important;
  color: grey !important;
}

.ui.form input:focus, .ui.form textarea:focus{
  border-color: var(--bg4) !important;
}

.ui.form select{
  width: 300px !important;
  font-size: 11.5px;
  color: grey !important;
}

.ui.form option{
  color: grey !important;
}

.fields{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.field{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.ui.form button{
  margin-top: 30px;
}

.ui.circular.label{
  color: azure;
  font-size: 6.5px;
  cursor: pointer;
}

.ui.label{
  padding: 5px 0;
  width: 100%;
  height: auto;
  color: grey;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start;
  background-color: azure;
}

/* .ui input{
  border: none !important;
} */

.ui.dimmer{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .65 );
}

.field.error input, .field.error select, .field.error textarea{
  background-color: rgb(255, 78, 78) !important;
}



