.icon{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 130px;
  right: 0px;
  z-index: 1000;
}

.icon svg, .icon path{
  padding: 1px;
  font-size: 60px;
  color: var(--clrBL0);
  background-color: var(--bg2);
  border-radius: 50%;
  cursor: pointer;
}

.icon div:hover path{
  color: var(--clrBL1);
}

.icon div:active path{
  color: var(--clrBL2);
}