.section{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: darkslategray;
}

.tab{
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab:hover{
  background-color: rgb(59, 100, 100);
}

.tab:nth-child(1) svg, .tab:nth-child(1) path{
  font-size: 34px;
  cursor: pointer;
}

.tab:nth-child(2) svg, .tab:nth-child(2) path{
  font-size: 28px;
  cursor: pointer;
}

.tab:nth-child(3) svg, .tab:nth-child(3) path{
  font-size: 30px;
  cursor: pointer;
}

.tab:nth-child(4) svg, .tab:nth-child(4) path{
  font-size: 22px;
  cursor: pointer;
}

