.main{
  padding: 0 10px !important;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h1{
  padding: 8px 0 4px 0 !important;
  height: auto;
  font-size: 16px;
  font-family: 'Bebas' !important;
  color: var(--clrBL2);
  background-color: var(--bg1);
}

.main h1:nth-child(1){
  width: 16%;
  text-align: center;
}

.main h1:nth-child(2){
  padding-left: 5px !important;
  width: 30%;
  text-align: left;
}

.main h1:nth-child(3){
  padding-left: 5px !important;
  width: 60%;
  text-align: left;
}

.main h1:nth-child(4){
  padding: 7px 0 3px 0 !important;
  width: 10%;
  text-align: center;
}

.main svg, .main path{
  font-size: 16.5px;
  color: var(--clrBL2);
}