.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h1{
  padding: 8px 0 4px 0 !important;
  height: auto;
  font-size: 15px;
  font-family: 'Bebas' !important;
  color: var(--clrBL2);
  background-color: var(--bg1);
}

.main h1:nth-child(1){
  width: 20%;
  text-align: center;
}

.main h1:nth-child(2){
  padding-left: 5px !important;
  width: 50%;
  text-align: left;
}

.main h1:nth-child(3){
  padding-left: 5px !important;
  width: 20%;
  text-align: right;
}

.main h1:nth-child(4){
  width: 10%;
  text-align: center;
}

.main h1:nth-child(5){
  padding-right: 3.5px !important;
  width: 20%;
  text-align: right;
}