.section{
  width: 100%;
  height: auto;
}

.rowConcept{
  padding: 5px 0;
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
}

.rowConcept h1{
  font-size: 12px;
  color: var(--clrBL2);
}

.rowConcept h1:nth-child(1), .rowMapConcept h1:nth-child(1){
  width: 20%;
  text-align: center;
}
.rowConcept h1:nth-child(2), .rowMapConcept h1:nth-child(2){
  width: 40%;
  text-align: left;
  
}
.rowConcept h1:nth-child(3), .rowMapConcept h1:nth-child(3){
  width: 25%;
  text-align: right;
}

.rowConcept h1:nth-child(4), .rowMapConcept h1:nth-child(4){
  width: 10%;
  text-align: center;
}

.rowConcept h1:nth-child(5), .rowMapConcept h1:nth-child(5){
  padding-right: 2.5px;
  width: 20%;
  text-align: right;
}

.rowMapConcept{
  padding: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowMapConcept h1{
  font-size: 10px;
}

.rowMapConcept h1:nth-child(3), .rowMapConcept h1:nth-child(4), .rowMapConcept h1:nth-child(5){
  font-size: 9px;
}

.iconPlus{
  padding: 15px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPlus div{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
  cursor: pointer;
}

.iconPlus div:hover{
  background-color: var(--bg3);
}

.iconPlus svg, .iconPlus path{
  font-size: 18px;
  color: var(--clrBL2);
  cursor: pointer;
}

.sectionTotal{
  padding: 20px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleOff, .toggleOn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleOn svg, .toggleOn path, .toggleOff svg, .toggleOff path{
  margin-right: 1px;
  font-size: 30px;
  color: var(--clrBL2);
  cursor: pointer;
}

.toggleOff svg, .toggleOff path{
  color: var(--bg5);
}

.sectionTotal h1{
  font-size: 12px;
}

.sectionTotal div:nth-child(1){
  margin-right: 5px;
}

.sectionTotal div:nth-child(1) h1{
  text-align: right;
  color: var(--clrBL2);
}

.sectionTotal div:nth-child(2) h1{
  margin: 8.5px 0;
  text-align: right;
}

.sectionTotal h1:nth-child(3){
  font-size: 12.8px;
}

.iconClose{
  position: absolute;
  top: 10px;
  right: 10px;
}

.iconClose svg, .iconClose path{
  font-size: 18px;
  cursor: pointer;
}

.iconCheck{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
  cursor: pointer;
}

.iconCheck:hover{
  background-color: var(--bg3);
}

.iconCheck:active{
  background-color: var(--bg4);
}

.iconCheck svg, .iconCheck path{
  font-size: 22px;
  color: var(--clrBL2);
  cursor: pointer;
}

