.section{
  padding-bottom: 250px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rowNota{
  padding: 8px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowNota:hover{
  background-color: var(--bg1);
}

.rowNota h1:nth-child(1){
  width: 15%;
  font-size: 11.5px;
  text-align: center;
}

.rowNota h1:nth-child(2){
  width: 30%;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.rowNota h1:nth-child(3){
  padding: 0 5px;
  width: 60%;
  font-size: 14px;
  text-align: left;
}

.rowNota h1:nth-child(4){
  width: 10%;
  text-align: center;
}

.rowNota svg, .rowNota path{
  font-size: 18px;
  color: var(--clrBL2);
  cursor: pointer;
}

.iconTrash{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.iconTrash svg, .iconTrash path{
  font-size: 16px;
  color: var(--clrGR0);
  cursor: pointer;
}

.iconTrash svg:hover, .iconTrash path:hover{
  color: var(--clrGR1);
}

.iconTrash svg:active, .iconTrash path:active{
  color: var(--clrGR2);
}


/* MODAL */



.sectionModal{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rowNotaModal{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.rowNotaModal h1{
  font-size: 14px;
  color: var(--clrBL2);
}

.rowNotaModal h2{
  font-size: 14px;
} 

.rowClienFolio, .rowContactDate{
  padding: 5px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.rowClienFolio div, .rowContactDate div{
  width: 50%;
}

.rowClienFolio div:nth-child(2), .rowContactDate div:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.rowClienFolio div:nth-child(1) h2{
  text-transform: capitalize;
}

.rowClienFolio div:nth-child(2) h2, .rowContactDate div:nth-child(2) h2{
  font-size: 12px;
}

.rowContactDate div:nth-child(2) h2:nth-child(2){
  font-size: 9.5px;
  text-transform: uppercase;
}

.rowMapConcept{
  padding: 5px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowMapConcept h1{
  font-size: 10px;
}

.rowMapConcept h1:nth-child(3), .rowMapConcept h1:nth-child(5){
  font-size: 9px;
}

.iconPDF svg, .iconPDF path{
  font-size: 46px;
  color: var(--clrBL0);
  cursor: pointer;
}

.iconPDF:hover path{
  color: var(--clrBL1);
}

.iconPDF:active path{
  color: var(--clrBL2);
}

.iconClose{
  position: absolute;
  top: 10px;
  right: 10px;
}

.iconClose svg, .iconClose path{
  font-size: 18px;
  cursor: pointer;
}

.iconCheck{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
  cursor: pointer;
}

.iconCheck:hover{
  background-color: var(--bg3);
}

.iconCheck:active{
  background-color: var(--bg4);
}

.iconCheck svg, .iconCheck path{
  font-size: 22px;
  color: var(--clrBL2);
  cursor: pointer;
}